@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.colored-img {
      filter: brightness(0) invert(1);
}

.transition-properties{
      transition: all ease-in-out linear;
      transition-duration: 80ms;
}

.transitionPropertyNotif{
      transition: all ease-in-out linear;
      transition-duration: 800ms;
}
